html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  // background-image: url(https://i.imgur.com/d47ZIU3.jpg);
  // background-size: cover;
}

.fp-watermark {
  display: none;
}

h4 {
  text-align: center;
  transform: translateY(100px);
}

.case {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: 30px;
  .desc {
    .prom {
      p {
        margin: 0 0 20px 0;
      }
      button {
        font-size: 17px;
        padding: 10px 30px;
        color: #fff;
        background: #555;
        border: 1px solid transparent;
        border-radius: 20px;
        cursor: pointer;
        margin: 0 10px 0 0;
      }
    }
  }
  p {
    white-space: pre;
  }

  .inner {
    display: flex;
    gap: 30px;

    p {
      font-size: 17px;
    }

    button {
      font-size: 17px;
      padding: 10px 30px;
      color: #fff;
      background: #333;
      border: 1px solid transparent;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  .photo {
    height: 354px;
    width: 730px;
    overflow: hidden;
    z-index: 10;
    border-radius: 30px;
    box-shadow: -10px -3px 20px rgba(0, 0, 0, 0.1);

    &:hover img {
      transform: translateY(calc(-100% + 354px));
      transition: 5s;
    }
  }

  .mobile {
    font-size: 0;
    height: 354px;
    width: 200px;
    overflow: hidden;
    z-index: 10;
    border-radius: 30px;
    box-shadow: -5px -2px 10px rgba(0, 0, 0, 0.15);

    &:hover img {
      transform: translateY(calc(-100% + 354px));
      transition: 5s;
    }
  }

  ul > {
    padding: 0 0 0 20px;

    li {
      h3 {
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.5px;
        margin: 0 0 10px 0;
      }

      margin: 0 0 20px 0;

      ol {
        color: #fff;

        .color {
          font-size: 17px;
          padding: 10px 10px;
          font-weight: 300;
        }
      }
    }
  }
}

.blobs {
  filter: url("#goo");
  position: absolute;
  top: -40rem;
  left: 0;
  bottom: 0;
  right: 0;

  .blob {
    position: absolute;
    background: #0d6efd;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    color: white;
    font-size: 40px;
    border-radius: 100%;
    margin-top: -5rem;
    margin-left: -5rem;
    animation: blob-left-top-anim cubic-bezier(0.1, 0, 0.38, 1.5) 5s infinite;

    &:nth-child(2) {
      animation-name: blob-right-top-anim;
    }

    &:nth-child(3) {
      animation-name: blob-left-bottom-anim;
    }

    &:nth-child(4) {
      animation-name: blob-right-bottom-anim;
    }
  }

  $dist-x: 65px;
  $dist-y: 65px;

  @keyframes blob-left-top-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }

    33% {
      transform: scale(0.9) translate(-$dist-x, 0);
    }

    62% {
      transform: scale(0.7) translate(-$dist-x, -$dist-y);
    }

    94% {
      transform: scale(1.1) translate(0, 0);
    }
  }

  @keyframes blob-right-top-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }

    33% {
      transform: scale(0.9) translate($dist-x, 0);
    }

    64% {
      transform: scale(0.7) translate($dist-x, -$dist-y);
    }

    96% {
      transform: scale(1.1) translate(0, 0);
    }
  }

  @keyframes blob-left-bottom-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }

    33% {
      transform: scale(0.9) translate(-$dist-x, 0);
    }

    66% {
      transform: scale(0.7) translate(-$dist-x, $dist-y);
    }

    98% {
      transform: scale(1.1) translate(0, 0);
    }
  }

  @keyframes blob-right-bottom-anim {
    0% {
      transform: scale(1.1) translate(0, 0);
    }

    33% {
      transform: scale(0.9) translate($dist-x, 0);
    }

    68% {
      transform: scale(0.7) translate($dist-x, $dist-y);
    }

    100% {
      transform: scale(1.1) translate(0, 0);
    }
  }
}

.text {
  text-align: center;

  span {
    color: #0d6efd;
    font-weight: 700;
  }

  h2 {
    font-size: 7rem;
    font-weight: 700;
    margin: 0 0 3rem 0;

    span {
      font-size: 7.38rem;
    }
  }

  h3 {
    font-size: 3.8rem;
    margin: 0 0 3rem 0;
    font-weight: 500;
  }

  p {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 300;
  }
}

.PF {
  h1 {
    position: fixed;
    top: 5rem;
    left: 5rem;
    z-index: 1000;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    line-height: 2.5rem;
    color: #bbb;

    &::after {
      display: block;
      content: "";
      position: absolute;
      top: 1rem;
      left: 6rem;
      width: 3rem;
      height: 0.15rem;
      background: #ccc;
    }
  }

  .wm {
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 15px;

    span {
      font-family: xeicon;
    }
  }

  .num {
    position: fixed;
    top: 30%;
    right: 5rem;
    z-index: 999;
    color: #999;
    letter-spacing: 1px;
  }

  .btn {
    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 1000;
    font-size: 0;
    width: 3rem;
    height: 3rem;
    border: 1px solid transparent;
    border-radius: 0.3rem;

    &::before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      height: 2px;
      background: #333;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0.5rem;
      left: 0.5rem;
      right: 0.5rem;
      height: 2px;
      background: #333;
    }

    &.on::before {
      display: none;
    }

    &.on::after {
      display: none;
    }

    span::before,
    span::after {
      content: "";
      position: absolute;
      top: calc(50% - 1px);
      left: 0.5rem;
      right: 0.5rem;
      height: 2px;
      background: #333;
    }

    &.on span::before {
      transform: rotate(45deg);
      transition: 0.5s;
    }

    &.on span::after {
      transform: rotate(-45deg);
      transition: 0.5s;
    }
  }

  .Cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    color: #333;
    z-index: 1000;
    height: 100vh;
    display: none;
    overflow: hidden;
    transition: 0.5s;

    .box {
      margin: 0 auto;
      width: 700px;
      transform: translateY(300px);
    }

    ul {
      text-align: end;
      font-size: 26px;
      font-weight: 700;
      color: #333;
      transform: translateY(10%);

      li {
        margin: 0 0 20px 0;
      }
    }

    &.on {
      display: block;

      h2 {
        font-weight: 700;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1000;
        font-size: 8rem;
        letter-spacing: 0.2rem;
        line-height: 9rem;
        color: #333;
        text-align: start;

        strong {
          color: #0d6efd;
          font-weight: 700;
        }

        &::after {
          display: block;
          content: "";
          position: absolute;
          top: 4.5rem;
          left: 22.5rem;
          width: 10rem;
          height: 0.9rem;
          background: #333;
        }
      }
    }
  }

  .gnb {
    position: fixed;
    top: 50%;
    right: 5rem;
    z-index: 999;
    font-size: 0;

    li {
      margin: 0.5rem;

      a {
        position: relative;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        border: 1px solid rgba(51, 51, 51, 0.3);
        transform: scale(0.5);
        border-radius: 50%;

        &::before {
          content: "";
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 30%;
          height: 30%;
          background: #333;
          border-radius: 50%;
        }
      }

      &.on a {
        transform: scale(1);

        &::before {
          display: block;
        }
      }
    }
  }
}

.section {
  font-size: 5px;

  &.active h4 {
    font-size: 45px;
    font-weight: 700;
    transition: 0.5s 0.5s;
  }
}

.trn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  gap: 30px;

  h2 {
    position: absolute;
    font-size: 37px;
    top: 60px;
    left: 46.5%;
    font-weight: 700;
  }

  .photo02 {
    height: 300px;
    width: 500px;
    overflow: hidden;
    z-index: 10;
    border-radius: 30px;
    box-shadow: -10px -3px 20px rgb(0 0 0 / 10%);
    margin: 0 0 50px 0;

    &:hover img {
      transform: translateY(calc(-100% + 300px));
      transition: 5s;
    }
  }

  .desc {
    gap: 30px;

    p {
      font-size: 17px;
    }

    button {
      font-size: 17px;
      padding: 10px 30px;
      color: #fff;
      background: #333;
      border: 1px solid transparent;
      border-radius: 20px;
      cursor: pointer;
      margin: 0 10px 0 0;
    }
  }

  ul > {
    padding: 0 0 0 20px;

    li {
      h3 {
        font-weight: 700;
        font-size: 23px;
        letter-spacing: 0.5px;
        margin: 0 0 10px 0;
      }

      margin: 0 0 20px 0;

      ol {
        color: #fff;

        .color {
          font-size: 17px;
          padding: 10px 10px;
          font-weight: 300;
        }
      }
    }
  }
}

// 반응형 페이지

@media (max-width: 768px) {
  .case {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

    p {
      white-space: pre-wrap;
      line-height: 19px;
    }

    .inner {
      display: flex;
      flex-direction: column;
      gap: 30px;

      .desc {
        width: 90vw;
        .prom {
          button {
            font-size: 15px;
            padding: 10px 30px;
            color: #fff;
            background: #666;
            border: 1px solid transparent;
            border-radius: 10px;
            cursor: pointer;
            margin: 0 10px 10px 0;
          }
        }
      }
      p {
        font-size: 15px;
      }

      button {
        font-size: 15px;
        padding: 10px 30px;
        color: #fff;
        background: #333;
        border: 1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
      }
    }

    .photo {
      height: 34vh;
      width: 90vw;
      overflow: hidden;
      z-index: 10;
      border-radius: 30px;
      box-shadow: -10px -3px 20px rgba(0, 0, 0, 0.1);
      margin: 0 0 20px 0;

      &:hover img {
        transform: translateY(calc(-100% + 34vh));
        transition: 5s;
      }
    }

    .mobile {
      font-size: 0;
      height: 354px;
      width: 200px;
      overflow: hidden;
      z-index: 10;
      border-radius: 20px;
      box-shadow: -5px -2px 10px rgba(0, 0, 0, 0.15);
      display: none;

      &:hover img {
        transform: translateY(calc(-100% + 354px));
        transition: 5s;
      }
    }

    ul > {
      padding: 0 0 0 20px;

      li {
        h3 {
          font-weight: 700;
          font-size: 21px;
          letter-spacing: 0.5px;
          margin: 0 0 2vw 0;
        }

        margin: 0 0 5vw 0;

        ol {
          color: #fff;

          .color {
            font-size: 13px;
            padding: 10px 10px;
            font-weight: 300;
          }
        }
      }
    }
  }

  .blobs {
    filter: url("#goo");
    position: absolute;
    top: -35%;
    left: 0;
    bottom: 0;
    right: 0;

    .blob {
      position: absolute;
      background: #0d6efd;

      left: 50%;
      top: 50%;
      width: 25vw;
      height: 25vw;
      line-height: 10rem;
      text-align: center;
      color: white;
      font-size: 40px;
      border-radius: 100%;
      margin-top: -5rem;
      margin-left: -5rem;

      animation: blob-left-top-anim cubic-bezier(0.1, 0, 0.38, 1.5) 5s infinite;

      &:nth-child(2) {
        animation-name: blob-right-top-anim;
      }

      &:nth-child(3) {
        animation-name: blob-left-bottom-anim;
      }

      &:nth-child(4) {
        animation-name: blob-right-bottom-anim;
      }
    }

    $dist-x: 65px;
    $dist-y: 65px;

    @keyframes blob-left-top-anim {
      0% {
        transform: scale(1.1) translate(0, 0);
      }

      33% {
        transform: scale(0.9) translate(-$dist-x, 0);
      }

      62% {
        transform: scale(0.7) translate(-$dist-x, -$dist-y);
      }

      94% {
        transform: scale(1.1) translate(0, 0);
      }
    }

    @keyframes blob-right-top-anim {
      0% {
        transform: scale(1.1) translate(0, 0);
      }

      33% {
        transform: scale(0.9) translate($dist-x, 0);
      }

      64% {
        transform: scale(0.7) translate($dist-x, -$dist-y);
      }

      96% {
        transform: scale(1.1) translate(0, 0);
      }
    }

    @keyframes blob-left-bottom-anim {
      0% {
        transform: scale(1.1) translate(0, 0);
      }

      33% {
        transform: scale(0.9) translate(-$dist-x, 0);
      }

      66% {
        transform: scale(0.7) translate(-$dist-x, $dist-y);
      }

      98% {
        transform: scale(1.1) translate(0, 0);
      }
    }

    @keyframes blob-right-bottom-anim {
      0% {
        transform: scale(1.1) translate(0, 0);
      }

      33% {
        transform: scale(0.9) translate($dist-x, 0);
      }

      68% {
        transform: scale(0.7) translate($dist-x, $dist-y);
      }

      100% {
        transform: scale(1.1) translate(0, 0);
      }
    }
  }

  .text {
    padding: 150px 0 0 0;
    text-align: center;

    span {
      color: #0d6efd;
      font-weight: 700;
    }

    h2 {
      font-size: 11vw;
      font-weight: 700;
      margin: 0 0 2rem 0;

      span {
        font-size: 12vw;
      }
    }

    h3 {
      font-size: 21px;
      margin: 0 0 2rem 0;
      font-weight: 500;
    }

    p {
      font-size: 3.5vw;
      line-height: 5vw;
      font-weight: 400;
    }
  }

  .PF {
    h1 {
      position: fixed;
      top: 5rem;
      left: 5rem;
      z-index: 1000;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      line-height: 2.5rem;
      color: #bbb;
      display: none;

      &::after {
        display: block;
        content: "";
        position: absolute;
        top: 1rem;
        left: 6rem;
        width: 3rem;
        height: 0.15rem;
        background: #ccc;
      }
    }

    .wm {
      display: none;
      position: fixed;
      bottom: 50px;
      right: 50px;
      font-size: 15px;

      span {
        font-family: xeicon;
      }
    }

    .num {
      position: fixed;
      top: 30%;
      right: 5rem;
      z-index: 999;
      color: #999;
      letter-spacing: 1px;
      display: none;
    }

    .btn {
      position: fixed;
      top: 5rem;
      right: 5rem;
      z-index: 1000;
      font-size: 0;
      width: 3rem;
      height: 3rem;
      border: 1px solid transparent;
      border-radius: 0.3rem;

      &::before {
        content: "";
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #333;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0.5rem;
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #333;
      }

      &.on::before {
        display: none;
      }

      &.on::after {
        display: none;
      }

      span::before,
      span::after {
        content: "";
        position: absolute;
        top: calc(50% - 1px);
        left: 0.5rem;
        right: 0.5rem;
        height: 2px;
        background: #333;
      }

      &.on span::before {
        transform: rotate(45deg);
        transition: 0.5s;
      }

      &.on span::after {
        transform: rotate(-45deg);
        transition: 0.5s;
      }
    }

    .Cover {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background: #333;

      z-index: 1000;
      height: 100vh;
      display: none;
      overflow: hidden;
      transition: 0.5s;

      .box {
        padding: 0 30px;
        margin: 0 auto;
        width: auto;
      }

      ul {
        text-align: center;
        font-size: 6vw;
        font-weight: 700;
        color: #fff;
        transform: translateY(-50%);

        li {
          text-align: center;
          margin: 0 0 6vw 0;
        }
      }

      &.on {
        display: block;

        h2 {
          display: none;
          font-weight: 700;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1000;
          font-size: 8rem;
          letter-spacing: 0.2rem;
          line-height: 9rem;
          color: #333;
          text-align: start;

          strong {
            color: #0d6efd;
            font-weight: 700;
          }

          &::after {
            display: block;
            content: "";
            position: absolute;
            top: 4.5rem;
            left: 22.5rem;
            width: 10rem;
            height: 0.9rem;
            background: #333;
          }
        }
      }
    }

    .gnb {
      display: none;
      position: fixed;
      top: 50%;
      right: 5rem;
      z-index: 999;
      font-size: 0;

      li {
        margin: 0.5rem;

        a {
          position: relative;
          display: inline-block;
          width: 2rem;
          height: 2rem;
          border: 1px solid rgba(51, 51, 51, 0.3);
          transform: scale(0.5);
          border-radius: 50%;

          &::before {
            content: "";
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30%;
            height: 30%;
            background: #333;
            border-radius: 50%;
          }
        }

        &.on a {
          transform: scale(1);

          &::before {
            display: block;
          }
        }
      }
    }
  }

  .section {
    font-size: 5px;
    transition: 1s 1s;

    &.active h4 {
      font-size: 30px;
    }
  }

  .trn {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 30px;
    flex-direction: column;
    height: auto;
    padding: 100px 0;

    h2 {
      position: static;
      font-size: 7vw;
      font-weight: 700;
    }

    .photo02 {
      height: 34vh;
      width: 90vw;
      overflow: hidden;
      z-index: 10;
      border-radius: 30px;
      box-shadow: -10px -3px 20px rgb(0 0 0 / 10%);
      margin: 0 0 20px 0;

      &:hover img {
        transform: translateY(calc(-100% + 300px));
        transition: 5s;
      }
    }

    .desc {
      gap: 30px;

      p {
        font-size: 15px;
      }

      button {
        font-size: 15px;
        padding: 10px 30px;
        color: #fff;
        background: #333;
        border: 1px solid transparent;
        border-radius: 10px;
        cursor: pointer;
        margin: 0 10px 0 0;
      }
    }

    ul > {
      padding: 0 0 0 20px;

      li {
        h3 {
          font-weight: 700;
          font-size: 21px;
          letter-spacing: 0.5px;
          margin: 0 0 10px 0;
        }

        margin: 0 0 20px 0;

        ol {
          color: #fff;

          .color {
            font-size: 5vw;
            padding: 10px 10px;
            font-weight: 300;
          }
        }
      }
    }
  }
}
